{% extends 'base.html.twig' %}

{% block title %}Hello PrintProductsController!{% endblock %}

{% block body %}


    <h1>Vypis Produktov</h1>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#95595c"/><text
                                            x="50%" y="50%" fill="#eceeef" dy=".3em">{{ product.name }}</text></svg>


                                <div class="card-body">
                                    {#<p class="card-text">Zlava:  {{ product.discount }}</p>#}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('detail_products',{'id': product.id})}}">Viac</a></button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('orderr_new_id', {'id': product.id})}}">Objednat</a></button>
                                            {#<button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('basket_add', {'id': product.id})}}">Kosik</a></button>#}
                                        </div>
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

{% endblock %}
